/* Barra de navegacion */

.navbar {
    padding: 2rem;
    background-color: #F5F6F7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;

}

/* estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
}


/* Seccion hero */
.hero{
    background-color: #F5F6F7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}


.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    margin: 20px;
}

/* adaptable (responsivo) */
@media screen and (max-width: 767px){
    .navbar-brand {
        display: none;
    }
}

